$lime: #64E80C;
$lightLime: #90EC53;
$violet: #95009C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.firstRow {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    max-height: 481px ;
    max-width: 1440px; 
    margin: 0 auto;
    img {
        margin: 16px;
        max-height: 481px;
    }

    div {
        width: 37%;
        margin: 16px 0;
        background: $violet;
        color: white;
        padding: 30px;
    }

    h2 {
        font-size: 34px;
        font-family: $serif-font-family;
        font-weight: 900;

    }
}

section {
    margin: 0 auto;
    max-width: 1440px; 
}

.icon {
    height: 14px;
    margin: 0 0 0 5px;
    padding: 0;
    padding-top: 7px;    
}

.shopBy {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 100%;
    img:nth-child(1) {
        width: 100%;
        max-height: 362px;
        min-width: 202px;    
    }
    & > div {
        width: 33,3%;
        margin: 0 20px;
    }
    & > div:nth-child(3) {
        margin-right: 0;
    }
    & > div:nth-child(1) {
        margin-left: 0;
    }
    p {
        font-weight: 600;
        font-size: 24px;
        margin: 16px 0;

    }
    span {
        margin: 0;
        height: 100%;
        display: inline-block;
    }
    h2 {
        font-family: $serif-font-family;
        font-weight: 900;
    }
}

.bestSellers, .shopByLink {
    font-size: 16px;
    color: $lime;
    display: flex;
    cursor: pointer;
}
.shopByLink {
    color: #03424C;
    font-size: 20px;

}
.bestSellers img {
    height: 10px;
}

.shopProcessSection {
    background: $lightLime;
    min-width: 100%;

}
.shopProcessWrap {
    margin: 0 auto;
    max-width: 1440px; 
    display: flex;
}