$lime: #64E80C;
$violet: #95009C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;


.menuItem {
    font-size: 12px;
    width: 80px;
    border-left: $thin-gray-border;
    padding-top: 16px;
    position: relative;
    height: 79%;
    &::before {
        position: absolute;
        width: 0;
        content: '';
        height: 3px;
        background: $lime;
        left: 0;
        transition: all 700ms;
        top: -1px;
    }

    &:hover {
        &::before {
            width: 101%;
        }
    }
    img {
        height: 24px;
        display: block;
        margin: 0 auto;
    }
    p {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.modal, .hiddenModal {
    position: absolute;
    height: 461px;
    width: 410px;
    border: $thin-gray-border;
    background: $light-background;
    top: 70px;
    right: 161px;
    z-index: 10;
    h2 {
        font-size: 26px;
        margin: 30px;
    }
}


.modal {
    visibility: visible;
    pointer-events: all;
    //transition: opacity 1400ms;
    animation: modal 500ms ease;
    animation-fill-mode: forwards;    
}
.hiddenModal {
    pointer-events: none;
    //display: none;
    //opacity: 0;
    //transition: opacity 1400ms;
    animation: hiddenmodal 400ms ease;
    animation-fill-mode: forwards;
}

@keyframes modal {
    from {transform: 
        translateY(-300px);
        opacity: 0;};
    to {transform: translateY(0px);
        opacity: 1;};
}

@keyframes hiddenmodal {
    from {transform: translateY(0px);};
    to {transform: 
        /* scale(0.2) */
        translateY(-534px);
        opacity: 0};
}



.signUpOffer {
    background: #DDDDDD;
    font-weight: 700;
    height: 52px;
    padding: 1.2em 30px;
    line-height: 1.6em;
    margin-top: 30px;

    a {
        display: block;
        color: $violet;
        font-weight: 500;

    }


}